<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loginForm").submit(function (event) {
                event.preventDefault();
                var username = $("#username").val();
                var password = $("#password").val();

                $.ajax({
                    type: "POST",
                    url: "/member/login",
                    contentType: "application/json",
                    data: JSON.stringify({
                        memberEmail: username,
                        memberPassword: password
                    }),
                    success: function (response) {
                        console.log(response.accessToken)
                        $("#errorMessage").text(response.accessToken);
                        window.location.href = "/www.naver.com";
                    },
                    error: function (response) {
                        $("#errorMessage").text(response.responseText);
                    }
                });
            });
        });
    </script>
</head>
<body>
<h2>Login</h2>
<form id="loginForm">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <div>
        <p id="errorMessage" style="color: red;"></p>
    </div>
    <button type="submit">Login</button>
</form>
</body>
</html>
